h1{
    text-align: center;
}


.div{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
}

.div2{
    height: 200px;
    width: 100px;
    background-color: rgb(42, 73, 132);
    margin-top: 10px;
}