h1{
    text-align: center;
}


.div1{
    width: 100px;
    height: 100px;
    background : rgb(205, 46, 46);
}

.div2{
    height: 200px;
    width: 100px;
    background : black
    margin-top : 10px;
}